<app-header title="Cadastro Pessoa Fisica" description="Preencha os campos abaixo:"></app-header>

<div class="px-5">
  <form #form="ngForm" [formGroup]="userForm" (submit)="cadastrar()">
    <div class="input">
      <label for="nome">Nome</label>
      <br>
      <input type="text" class="input" id="nome" formControlName="nome" />
      <div class="form-text text-danger"
        *ngIf="userForm.get('nome')?.errors?.required && (form.submitted || userForm.get('nome').touched)">
        <small style="color: red;">
          Nome é obrigatório
        </small>
      </div>
    </div>

    <div class="input">
      <label for="email">E-mail</label>
      <br>
      <input type="email" class="input" id="email" formControlName="email" />
      <div class="form-text text-danger" *ngIf="userForm.get('email')?.errors?.invalidEmail && form.submitted">
        <small style="color: red;">
          E-mail inválido
        </small>
      </div>
    </div>

    <div class="input">
      <label for="idade">Idade </label>
      <br>
      <input type="number" class="input" id="idade" formControlName="idade" />
      <div class="form-text text-danger" *ngIf="
          (userForm.get('idade')?.errors?.min || userForm.get('idade').errors?.max) && form.submitted
        ">
        <small style="color: red;">
          A idade deve estar entre 0 e 90 anos
        </small>
      </div>
    </div>

    <div class="form-group d-flex justify-content-end">
      <button class="button" type="submit" *ngIf="idPessoaFisica == null" (click)="cadastrar()" [disabled]="userForm.invalid && form.submitted">
        Salvar
      </button>
    </div>
    <div class="form-group d-flex justify-content-end">
      <button class="button" type="submit" *ngIf="idPessoaFisica != null" (click)="editar()" [disabled]="userForm.invalid && form.submitted">
        Editar
      </button>
    </div>

  </form>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Idade</th>
          <th>Data de Cadastro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoasFisicas">
          <td>{{pessoa.id}}</td>
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.email}}</td>
          <td>{{pessoa.idade}}</td>
          <td>{{pessoa.data | date: 'dd/MM/yyyy H:mm:ss'}}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(pessoa)">
                Editar
              </button>
              {{' '}}
              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(pessoa)">
                Excluir
              </button>
            </span>
          </td>
        </tr>
      </tbody>

    </table>

  </div>


</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Você deseja deletar uma pessoa física?</p>
    <button type="button" class="btn btn-default" (click)="onCorfirmDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">No</button>
  </div>
</ng-template>
